<!-- show photos -->
<div class="col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>
  <b><%= link_to 'Go Back', place_path(@place), class: 'float-right' %></b><br/>

  <h1 class="float-left">Photos</h1>
<!-- Button trigger a comment modal -->
  <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#addPhotosModal">
    Add Photos
  </button>
</div>
<div class="clear"></div>

<div class="booyah-box col-10 offset-1">

<% @place.photos.each do |photo| %>
    <div class="col-12 col-sm-6">
        <% if photo.caption.present? %>
          <b><%= photo.caption %></b> -
        <% end %>    
    </div>
  <% end %>
 
</div>

