<!-- show photos -->
<div class="col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>
  <b><%= link_to 'Go Back', place_path(@place), class: 'float-right' %></b><br/>

  <h1 class="float-left">Photos</h1>
<!-- Button trigger a comment modal -->
  <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#addPhotosModal">
    Add Photos
  </button>
</div>
<div class="clear"></div>

<!-- add photos Modal -->
<div class="modal fade" id="addPhotosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add photos</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
          <%= f.input :caption %>
          <%= f.file_field :pictures, multiple: true %>
          <%= f.submit "Add Photos", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>
<div class="booyah-box col-10 offset-1">
  <% @place.photos.each do |photo| %>
      <% if photo.caption.present? %>
          <b><%= photo.caption %></b> 
          <br/>
      <% end %> 
      <!-- show uploaded pictures here -->
      <div>
        <% photo.pictures.each do |p| %>
          <%= image_tag(p.url, class: 'photo-box') %>
        <% end %>
      </div>
  <% end %>
</div>

